@inherits LayoutComponentBase

<div class="main">

    <header class="header">
            <div>
                <a href="/"><h1>George Savill Photography</h1></a>
            </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <footer class="footer">
        <div>
            <a href="mailto:me@georgesavill.com">&copy; @DateTime.Now.Year.ToString() - George Savill</a>
        </div>
    </footer>
</div>
