@inherits LayoutComponentBase

<div class="main">

    <header class="header">
            <div>
                <h1 href="/">George Savill Photography</h1>
            </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

    <footer class="footer">
        <div>
            &copy; 2020 - George Savill
        </div>
    </footer>
</div>
