* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 40px 0;
}

.footer, .header {
    position: fixed;
    width: 100%;
    line-height: 40px;
    background: #fff;
    padding: 0 20px;
}

.footer {
    border-top: 1px solid #e5e5e5;
    bottom: 0;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    top: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Hide server connection messages */
.components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
    display: none;
}

.list-container {
    padding:10px;
    text-align: center;
}

.list {
    justify-content: center;
    column-gap: 10px;
    orphans: 1;
    widows: 1;
    column-count: 1;
    max-width: 400px;
    margin: 0 auto;
}

.list img {
    width: 100%;
    height: auto;
    padding: 0 0 5px;
}

@media (min-width: 450px) {
    .list {
        column-count: 2;
        max-width: 805px;
    }
}
@media (max-width:650px) {
    .list{
        column-gap:5px;
    }
    .list-container {
        padding: 5px;
    }
    .list img {
        padding: 0;
    }
}
@media (min-width: 850px) {
    .list {
        column-count: 3;
        max-width: 1210px;
    }
}
@media (min-width: 1250px) {
    .list {
        column-count: 4;
        max-width: 1615px;
    }
}
@media (min-width: 1650px) {
    .list {
        column-count: 5;
        max-width: 2020px;
    }
}
@media (min-width: 2050px) {
    .list {
        column-count: 6;
        max-width: 2425px;
    }
}