@page "/"
@namespace photography_gallery.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>George Savill | Photography</title>
    <meta name="description" content="George Savill's photography gallery">
    <meta name="author" content="George Savill">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="website" propert="og:type">
    <meta content="George Savill" property="og:site_name">
    <meta content="George Savill | Photography" property="og:title">
    <meta content="George Savill's photography gallery" property="og:description">
    <meta content="https://photography.georgesavill.com" property="og:url">
    <meta content="https://photography.georgesavill.com/img/android-chrome-512x512.png" property="og:image">

    <link rel="canonical" href="https://photography.georgesavill.com/">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">


    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <script>
        document.addEventListener('keyup', (e) => {
            if (e.keyCode === 27) {
                document.getElementById('imagePreviewModalCloseBtn').click();
            }
        }, false);

        var scrollPosition;

        window.openModal = () => {
            scrollPosition = window.pageYOffset;
            document.getElementById("imagePreviewModal").style.height = "100%";
            document.getElementById("imagePreviewModal").style.opacity = 1;
            document.getElementsByTagName("BODY")[0].style.position = "fixed";
            document.getElementsByTagName("BODY")[0].style.top = - scrollPosition + "px";
        };
        window.closeModal = () => {
            document.getElementById("imagePreviewModal").style.height = 0;
            document.getElementById("imagePreviewModal").style.opacity = 0;
            document.getElementsByTagName("BODY")[0].style.position = "unset"
            document.getElementsByTagName("BODY")[0].style.top = null;
            window.scroll(0, scrollPosition);
        };
        window.scrollToTop = () => {
            window.scroll(0, 0);
        }
    </script>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <!-- Blazor overlay -->
    <div id="components-reconnect-modal"></div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
            document.location.reload();
        }
    </script>
    <script>
    // Wait until a 'reload' button appears
    new MutationObserver((mutations, observer) => {
        if (document.querySelector('#components-reconnect-modal')) {
            async function attemptReload() {
                await fetch('');
                location.reload();
            }
            observer.disconnect();
            attemptReload();
            setInterval(attemptReload, 1000);
        }
    }).observe(document.body, { childList: true, subtree: true });
</script>
</body>
</html>
