@page "/"
@page "/{requestedDirectory}"
@code {
    [Parameter]
    public string RequestedDirectory { get; set; }
}
@using photography_gallery.Services;
@using Microsoft.AspNetCore.Components.Web;
@using photography_gallery.Models;
@inject ImageListService ListService
@inject IJSRuntime JSRuntime;
@implements IDisposable
@inject NavigationManager NavigationManager

<div class="text-center">
    <div class="card-columns">
        @foreach (ListEntry directory in ListService.GetDirectoryList("/" + RequestedDirectory))
        {
            <a class="card btn btn-outline-primary shadow-sm" style="cursor:pointer" href="/@directory.DisplayName">
                <div class="card-body">
                    <h5>@directory.DisplayName</h5>
                </div>
            </a>
        }
    </div>
    <div class="card-columns">
        @foreach (ListEntry directory in ListService.GetFileList("/" + RequestedDirectory))
        {
            <img src="@directory.ThumbnailPath" @onclick="(e => SelectImage(directory))" class="card shadow-sm w-100" style="cursor:pointer" data-toggle="modal" data-target="#imagePreviewModal"/>
        }
    </div>
</div>

<div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog" aria-labelledby="imagePreviewTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagePreviewTitle">
                    @if (selectedImage != null)
                    {@selectedImage.DisplayName}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    @if (selectedImage != null)
                    {
                        <img class="card-img" src="@selectedImage.PreviewPath" />
                    }
            </div>
            <div class="modal-footer">
                @if (selectedImage != null)
                {
                    <a class="w-100 text-center" href="@selectedImage.RelativePath" target="_blank" download>download full-size image</a>
                }
            </div>
        </div>
    </div>
</div>
@{
    string currentDirectory = (RequestedDirectory == "") ? "/" : "/" + RequestedDirectory;
}

@code {
    ListEntry selectedImage;

    void SelectImage(ListEntry clickedImage)
    {
        selectedImage = clickedImage;
    }

    // Close modal on navigation event
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        JSRuntime.InvokeAsync<string>("closeModal");
    }
    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }
}